<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>
</head>
<body>
    <h1> Table of a Number </h1>
    <h1> Table aazzzzzzzzzzzzzzzzzzzzzzzzz</h1>
    <h1>hello</h1>
    <h1>Manager</h1>
    <form method='POST'>
        {% csrf_token %}

        <label for="n1">which number table you want:</label>
        <input type="number" value="{{num1}}" name="number1" min="1">
        <br><br>
        <label for="n2">Upto which you want to print:</label>
        <input type="number" value="{{num2}}" name="limit" min="1">
        <br><br>
        <input type="submit" value="Submit">
        <br><br><br>
        {{name}}
        <label for=""><h2> Output</h2></label><br>
        {% for re in result %}
            {{re}}<br>
        {% endfor %}

    </form>


    
</body>
</html>
